// Colors
$primary-dark: #121212;
$overlay-dark: #2b2b2b;

$primary-light: rgba(255, 255, 255, 0.95);
$secondary-light: rgba(255, 255, 255, 0.7);
$muted-light: rgba(255, 255, 255, 0.4);
$accent: #84dfe2;
