@use 'colors';

#contact {
  background-color: colors.$primary-dark;
  position: relative;
  overflow: hidden;
  h1 {
    color: colors.$primary-light;
  }

  span {
    color: colors.$secondary-light;
    margin-bottom: 0.5rem;
  }

  .triangle-cutout {
    color: white;
    width: 0px;
    height: 0px;
    border-top: min(10vw, 100px) solid white;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
  }
}
