#experience {
  .experience-item {
    $circle-height: 250px;
    transition: all 0.5s ease-out;

    background-color: grey;
    opacity: 0.3;
    width: $circle-height;
    height: $circle-height;
    border-radius: 50%;

    .experience-item-bg {
      min-width: 0px;
      min-height: 0px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: translateY(-5px);
      opacity: 0.8;
    }
  }
}