@use 'colors';
@import '/node_modules/bootstrap/scss/bootstrap';

#experience {
  .experience-item {
    position: relative;
    $circle-height: 250px;
    transition: all 0.5s ease-out;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $light;
    opacity: 0.9;
    width: $circle-height;
    height: $circle-height;
    border-radius: 50%;
    border: 2px solid colors.$accent;
    z-index: 1;

    .experience-item-bg {
      transition: all 0.5s ease-out;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 0px;
      min-height: 0px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: -1;
      opacity: 0.05;
    }

    h5 {
      font-weight: bold;
    }

    h5, p {
      text-align: center;
      padding: 0 1rem;
    }

    p {
      margin-bottom: 0;
    }

    &:hover {
      transform: translateY(-5px);
      opacity: 0.95;
      box-shadow: 0 10px 10px 0 rgba(colors.$accent, 0.2);
      color: transparent;

      .experience-item-bg {
        opacity: 0.8;
      }
    }
  }
}