@use 'colors';
@import '/node_modules/bootstrap/scss/bootstrap';

#introduction {
  height: 100vh;
  position: relative;
  padding-top: 60px;
  display: flex;
  background-color: colors.$primary-dark;
  color: colors.$primary-light;
  border-bottom: 0.5rem solid colors.$accent;

  .container {
    z-index: 3;
  }

  h2 {
    font-size: 5rem;
    font-weight: bold;
  }

  .desc {
    color: colors.$secondary-light;
    font-size: 1.5rem;
    padding-left: 0.3rem;
  } 

  .desc p {
    margin-bottom: 0.5rem;
  }

  .socials {
    list-style: none;
    padding: 0px;
    display: flex;
    padding-left: 0.1rem;
  }

  .socials li {
    margin-right: 2rem;
  }

  .socials a {
    color: colors.$secondary-light;
  }

  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 3.5rem;
    }

    .desc {
      font-size: 1.5rem;
    }
  }
  
}