@use 'colors';

#projects {
  .card {
    transition: all 0.5s ease-out;
    border: none;

    .card-img-top {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-bottom: 0.5rem solid colors.$accent;
    }

    &:hover{
      transform: translateY(-10px);
      box-shadow: 0 4px 8px 0 rgba(colors.$accent, 0.2);
    }

    .card-title {
      font-weight: bold;
    }
      
  }

  .git-btn {
    $git-button-color: #0097a7;
    
    position: relative;
    color: $git-button-color;
    border: 1px solid $git-button-color;
    background: white;
    background: linear-gradient(to left, white 50%, $git-button-color 50%) right  ;
    background-size: 300%;
    transition: all 0.5s ease-out;
      
		&:hover{
      color: white !important;
			background-position: left;
		}	
  }   
}