@use 'colors';
@use 'fonts';

.navbar-dark {
  background-color: colors.$overlay-dark;
  color: colors.$primary-light;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

  .navbar-brand {
    padding: 0px;

    .logo {
      min-height: 0px;
      min-width: 0px;
      height: 47px;
    }
  }

  .navbar-nav {    
    a.nav-link {
      font-family: fonts.$secondary-font;
      color: colors.$primary-light;
      font-size: 0.85rem;
      margin-left: 1rem;
      text-transform: uppercase;
    }
    a.nav-link.active {
      color: colors.$accent;
    }
  }
}
