@use 'colors';
@use 'fonts';

.navbar-dark {
  background-color: colors.$overlay-dark;
  color: colors.$primary-light;

  .navbar-nav {    
    .nav-link {
      color: colors.$secondary-light;
      font-size: 0.9rem;
      margin-left: 1rem;
    }

    .nav-link:hover {
      color: colors.$accent;
    }
  }
}
