// Fonts and colors
@use 'colors';
@use 'fonts';

// Components
@use 'top-nav';
@use 'introduction';
@use 'about';


body {
  position: relative;
  font-family: fonts.$primary-font;
  color: colors.$primary-dark;
  width: 100%;
}

a:hover {
  color: colors.$accent !important;
}

h1 {
  display: block;
  text-align: center;
  font-family: fonts.$secondary-font;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-weight: 300;
  color: rgb(31, 52, 58);
  padding: 4.5rem 0px 1.5rem 0px;

  .header-divider {
    background-color: rgb(31, 52, 58);
    opacity: 0.5;
    height: 3px;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
  }
}


.info-section {
  padding-bottom: 3rem;
}

.text-accent {
  color: colors.$accent;
}

.bg-accent {
  background-color: colors.$accent;
}

p {
  line-height: 1.5;
}

.main-content:focus {
  outline: none;
}

// Particles formatting
.particles-js-canvas-el {
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}